<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/logCads.css')}}">
    <title>Cadastro</title>
</head>
<body>
    <div class="log-cad">
        <div class="left">
            <h1>Cadastre-se</h1>
            <img src="../static/img/personal-data-animate.svg" class="imag" alt="cadastro">
        </div>
        <div class="rigth">
            <div class="card">
                {% block content %}
                {% endblock %}
                
            </div>
        </div>
    </div>
</body>
</html>